.main {
    width: 30%;
    margin: 0 auto;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 38%, rgba(196, 196, 222, 1) 100%);
    padding: 20px;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border: 4px groove;
   margin-top: 50px;
}
.main input{
    width: 98%;
    height: 80px;
    margin: auto;
    border-radius: 7px;
    border-style: none;
}
.clear {
    display: flex;
    justify-content: space-between;
    margin: 10px;
   
}
.clear button {
    width: 24%;
    /* margin: 0px 10px; */
    /* display: flex
; */
    /* text-align: center; */
}
.eqal button{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    display: block;
}
body{
    background-image: url('./image/background.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;;
    
}
h2 {
    color: yellow;
    font-size: 15px;
    font-family: system-ui;
    text-align: center;
    padding-right: 9px;
    border-bottom: 2px solid red;
    /* border-left: 15px solid transparent; */
    /* border-right: 15px solid transparent; */
    padding-bottom: 4px;
    display: inline-block;
    /* display: flow-root; */
    margin-top: 50px;
   
}
button.off {
    background-color: red;
    color: white;
}
button {
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    padding: 10px;
    font-family: sans-serif;
    font-weight: 600;
}